* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Genshin';
    src: url(./fonts/genshin-impact-drip-font.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    width: 100vw;
    height: 100vh;
    background: url(./assets/background.png) center / cover no-repeat fixed white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 16px;
    border-radius: 12px;
}

.container h1 {
    font-family: 'Genshin', sans-serif;
    font-size: 24px;
    color: rgb(80, 80, 184);
    border: 1px solid rgb(104, 104, 240);
    border-radius: 16px;
    padding: 8px;
}

form i {
    font-size: 28px;
    cursor: pointer;
    color: rgb(104, 104, 240);
}

.container button {
    padding: 8px 16px;
    border: none;
    background-color: rgb(104, 104, 240);
    border-radius: 16px;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

#result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 256px;
    max-height: 256px;
    gap: 12px;
    padding: 16px;
    overflow: hidden;
}

#result img {
    max-width: 100%;
    max-height: 200px;
    border-radius: 12px;
}

#result p {
    text-align: center;
}